.todo {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.complete {
  text-decoration: line-through;
}

.trash {
  cursor: pointer;
}

.trash:hover {
  color: #ff4136;
}
